# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# OS files
.DS_Store
Thumbs.db

# Databases
*.sqlite3

# Local environment / Secrets
.env
.venv
env/
venv/
ENV/
bin/
lib/
include/
share/
pip-selfcheck.json

# Django specific
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Logs
*.log

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Build and Distribution
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Static files (if you collect them into a root folder)
/static/