{% extends "base.html" %}

{% load static %}
{% load i18n%}


{% block content %}  

<section class="container">
    <div class="layout-grid">
        
        <section class="layout-block span-col-2 span-row-3">
            <div class="layout-block-heading">
                <h2 class="meduim-bold">{% trans 'People' %}</h2>
                <p class="light">{% trans 'Startup Ecosystem Contributers' %}</p>
            </div>

            <div class="people-cards">

                <div class="person-card">
                    <div class="person-image">
                        <img src="{% static 'images/2.jpg'%}" alt="">
                    </div>

                    <div class="person-info">
                        <h4 class="person-name"><a href="#">Aziz Daurov</a></h4>
                        <p class="person-place">Contributer</p>
                        <p class="person-place">Webster</p>
                        <div class="person-contacts">
                            <p class="person-contact"><a href="#" target="_blank">tg</a></p>
                            <p class="person-contact"><a href="#" target="_blank">e-mail</a></p>
                        </div>
                    </div>
                </div>

                <div class="person-card">
                    <div class="person-image">
                        <img src="{% static 'images/2.jpg'%}" alt="">
                    </div>

                    <div class="person-info">
                        <h4 class="person-name"><a href="#">Aziz Daurov</a></h4>
                        <p class="person-place">Webster</p>
                        <p class="person-tg"><a href="#" target="_blank">@azizdaurov</a></p>
                    </div>
                </div>

                 <div class="person-card">
                    <div class="person-image">
                        <img src="{% static 'images/2.jpg'%}" alt="">
                    </div>

                    <div class="person-info">
                        <h4 class="person-name"><a href="#">Bunyod Khoshimkhujaev</a></h4>
                        <p class="person-place">Webster</p>
                        <p class="person-tg"><a href="#" target="_blank">@azizdaurov</a></p>
                    </div>
                </div>

                <div class="person-card">
                    <div class="person-image">
                        <img src="{% static 'images/2.jpg'%}" alt="">
                    </div>

                    <div class="person-info">
                        <h4 class="person-name"><a href="#">Aziz Daurov</a></h4>
                        <p class="person-place">Webster</p>
                        <p class="person-tg"><a href="#" target="_blank">@azizdaurov</a></p>
                    </div>
                </div>

                <div class="person-card">
                    <div class="person-image">
                        <img src="{% static 'images/2.jpg'%}" alt="">
                    </div>

                    <div class="person-info">
                        <h4 class="person-name"><a href="#">Aziz Daurov</a></h4>
                        <p class="person-place">Webster</p>
                        <p class="person-tg"><a href="#" target="_blank">@azizdaurov</a></p>
                    </div>
                </div>

                 <div class="person-card">
                    <div class="person-image">
                        <img src="{% static 'images/2.jpg'%}" alt="">
                    </div>

                    <div class="person-info">
                        <h4 class="person-name"><a href="#">Aziz Daurov</a></h4>
                        <p class="person-place">Webster</p>
                        <p class="person-tg"><a href="#" target="_blank">@azizdaurov</a></p>
                    </div>
                </div>

                <div class="person-card">
                    <div class="person-image">
                        <img src="{% static 'images/2.jpg'%}" alt="">
                    </div>

                    <div class="person-info">
                        <h4 class="person-name"><a href="#">Aziz Daurov</a></h4>
                        <p class="person-place">Webster</p>
                        <p class="person-tg"><a href="#" target="_blank">@azizdaurov</a></p>
                    </div>
                </div>

            </div>
        </section>

        <section class="layout-block span-col-1 span-row-2">
            <div class="layout-block-heading">
                <h2 class="meduim-bold">{% trans 'Programs' %}</h2>
                <p class="light">{% trans 'Upcoming events.' %}</p>
            </div>

            <div class="program-list">
                <article class="program-item">
                    <div class="program-heading">
                        <h4><a class="program-title" href="#">{% trans 'Startup Init'%}</a></h4>
                        <p class="program-reg-deadline">3 days left</p>
                    </div>
                    <p class="program-dates">April 15 - May 30</p>
                    <p class="program-about">Pre-incubation mentorship in Termez and Ferghana cities.</p>
                </article>

                <article class="program-item">
                    <div class="program-heading">
                        <h4><a class="program-title" href="#">{% trans 'Digital Startup Award' %}</a></h4>
                        <p class="program-reg-deadline">3 days left</p>
                    </div>
                    <p class="program-dates">April 15 - May 30</p>
                    <p class="program-about">Pre-incubation mentorship in Termez and Ferghana cities.</p>
                </article>

                <article class="program-item">
                    <div class="program-heading">
                        <h4><a class="program-title" href="#">{% trans 'Investment Readiness Accelerator' %}</a></h4>
                        <p class="program-reg-deadline">3 days left</p>
                    </div>
                    <p class="program-dates">April 15 - May 30</p>
                    <p class="program-about">Pre-incubation mentorship in Termez and Ferghana cities. Pre-incubation mentorship in Termez and Ferghana cities.</p>
                </article>

            </div>
        </section>

        <section class="layout-block span-col-1 span-row-1">
            <div class="layout-block-heading">
                <h2 class="meduim-bold">{% trans 'Places' %}</h2>
            </div>
        </section>

        <section class="layout-block span-col-3">
            <div class="layout-block-heading">
                <h2 class="meduim-bold">{% trans 'Resources' %}</h2>
                <p class="light">{% trans 'Reports, channels, podcasts, news, etc.' %}</p>
            </div>
        </section>
    </div>
</section>

{% endblock %}