{% extends "base.html" %}

{% load static %}
{% load i18n%}


{% block content %}  

<section class="container">
    <div class="layout-grid">
        
        <section class="layout-block span-col-2 span-row-3">
            <div class="layout-block-heading">
                <h2 class="meduim-bold">{% trans 'People' %}</h2>
                <p class="light">{% trans 'Startup Ecosystem Contributers' %}</p>
            </div>

            <div class="people-cards">

            {% for person in people %}
                <div class="person-card">
                    <div class="person-image">
                        <img src="{{ person.get_thumbnail_url }}" alt="{{ person.user.first_name }}{{ person.user.last_name }}">
                    </div>

                    <div class="person-info">
                        <h4 class="person-name"><a href="#">{{person.user.first_name}} {{ person.user.last_name }}</a></h4>
                        
                        {% if person.affiliated_entities %}
                            <p class="person-place">{{ person.affiliated_entities.first.short_name }}</p>
                        {% endif %}

                        {% if person.position %}
                            <p class="person-tg"><a href="#" target="_blank">{{ person.position }}</a></p>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}

            </div>
        </section>

        <section class="layout-block span-col-1 span-row-2">
            <div class="layout-block-heading">
                <h2 class="meduim-bold">{% trans 'Programs' %}</h2>
                <p class="light">{% trans 'Upcoming events.' %}</p>
            </div>

            <div class="program-list">
                
                {% for program in programs %}

                    <article class="program-item">
                        {% if program.registration_open %}
                        <div class="ring-container">
                            <div class="ringring"></div>
                            <div class="circle"></div>
                        </div>
                        {% else %}
                        <div class="ring-container">
                            <div class="circle-inactive"></div>
                        </div>
                        {% endif %}
                        
                        <div class="program-heading">
                            <h4><a class="program-title" href="#">{{ program.short_name }}</a></h4>
                            {% if program.deadline_label %}<p class="program-reg-deadline">{{ program.deadline_label }}</p>{% endif %}
                        </div>
                        <p class="program-dates">{{ program.duration_display }}</p>
                        <p class="program-about">{{ program.description }}</p>
                        <p class="program-status">{{ program.get_status_display }}</p>
                    </article>
                {% endfor %}

            </div>
        </section>

        <section class="layout-block span-col-1 span-row-1">
            <div class="layout-block-heading">
                <h2 class="meduim-bold">{% trans 'Places' %}</h2>
            </div>
        </section>

        <section class="layout-block span-col-3">
            <div class="layout-block-heading">
                <h2 class="meduim-bold">{% trans 'Resources' %}</h2>
                <p class="light">{% trans 'Reports, channels, podcasts, news, etc.' %}</p>
            </div>
        </section>
    </div>
</section>

{% endblock %}