{% load static %}

<link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon-16x16.png' %}">
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/apple-touch-icon.png' %}">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=Noto+Sans:wght@500;600;700;800;900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'styles.css' %}">
<script src="https://unpkg.com/htmx.org@2.0.4" defer></script>