{% extends "base.html" %}
{% load i18n %}

{% block content %}
<section class="container">
    <div class="layout-grid">

        <div class="layout-block span-col-2">
            <div class="layout-block-heading">
                <h2 class="meduim-bold">{% trans 'Manage your profile' %}</h2>
                <p class="light">{% trans 'Update your profile using this form.' %}</p>
            </div>

            {% include 'users/partials/profile_form.html' %} 

        </div>

    </div>
</section>
{% endblock %}
